.popup {
  .seasons__container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    background-color: $color__dark;

    &__poster {
      margin: auto;
      display: block;
    }
    &__play-btn,
    &__label {
      display: none;
    }
  }
}
